html {
  font-size: large;
}

h1 {
    margin-top: 1%;
  text-align: center;
}

table {
  text-align: center;

  max-width: 1100px !important;
}

.fix{
    margin-top: 3%;
    display: flex;
    justify-content: center;
}