* {
  box-sizing: border-box;
}

body {
  font-weight: 400;
  margin-top: 5%;
  color: white;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.064);
  backdrop-filter: blur(5px);
  max-width: 400px;
  padding: 60px 2px;
}

.box {
  width: 70%;
}

.form-control {
  width: 100%;
}

.ms-0 {
  border-radius: 20px;
}

a{
  font-size: x-large;
}