*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.container{
    
    background-color: antiquewhite;
    width: 200px;
    height: 80px;
    border-radius: 20px;
    padding: 1rem;
}