body {
  font-family: "Montserrat", sans-serif;
  font-family: "Open Sans", sans-serif;
  background-image: url(./bati-roma-imparatorlugu-yikilis-hikayesi-1651830768.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* height: 100vh;  */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.309);
  margin-top: 10%;
  padding: 40px 80px;
}

p {
  margin-bottom: 20px;
  color: antiquewhite;
  font-size: xx-large;
}

a {
  color: aliceblue;
  text-decoration: none;
  padding: 20px 60px;
  font-size: 20px;
}

.latin,
.roman {
  text-align: center;
  padding: 15px 30 px;
}
input {
  border: none;
  padding: 1rem;
  border-radius: 20px;
  font-size: larger;
  font-weight: 700;
}

.numbers {
  text-align: center;
}
